.font_icons  {
    background-color: blue;
    border-radius: 20px ;
    transition: width 2s;
    height: 100px;
    justify-content: center;
    width: 300px;
}
.font_icons:hover {
    width: 500px;
}
.cube {
    background-color: blue;
    border-radius: 20px ;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}
.cubes {
    animation: skew 3s infinite ;
    background-color: white;
    opacity: 0.7;
    transform: skew(30deg);
    animation-direction: alternate;
    width: 100px;
    height: 100px;
}
@keyframes skew {
    0% {
        transform: skewX(50deg);
    }
    100%{
        transform: skewX(-20deg);
    }
}
.css-background{
    width: 100%;
    height: 300px;
    background: url('../Без\ названия.jpg') no-repeat;
    
    
}
.html-bg{
    width: 100%;
    height: 300px;
}